.FaqPageContent>* {
    font-weight: lighter;
}

.FaqPageContent h1 {
    color: #2EAF6E;
    margin-bottom: 0;
}

.FaqSubtitle {
    font-size: 24px;
    margin-top: 0;
}

.FaqDataContainer {
    margin-top: 50px;
}