.TimeOfDayQuestionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TimeOfDayQuestionContainer p {
    margin-bottom: 0;
}

.TimeOfDayAnswerButtonGroup .MuiToggleButton-root {
    border: none;
    padding: 7px 9px;
    margin-right: 10px;
    border-radius: 30px !important;
}

.TimeOfDayAnswerButtonGroup .Mui-selected {
    background-color: #f0f0f0 !important;
}

.TimeOfDayAnswerButton img,
.TimeOfDayAnswerButton svg {
    width: 30px;
    padding: 0px;
}