.LeftSection {
    width: 26%;
    box-sizing: border-box;
    padding: 5%;
    padding-right: 0;
    padding-bottom: 0;
}

.LeftSectionLogo {
    width: 35%;
    margin: 0 auto;
}

.LeftSectionFixedContents {
    position: fixed;
}