.Navigation {
    padding: 0;
    box-sizing: content-box;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 80vh;
}

.NavItem {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.NavLink {
    margin-left: 10px;
    color: #303030;
    text-decoration: none;
    font-family: Dongle;
    font-size: 28px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.NavLink:hover,
.NavLink.active {
    border-bottom: 1px dashed #ccc;
}