@font-face {
    font-family: 'Dongle';
    src: local('Dongle'), url(./fonts/Dongle-Regular.ttf) format('truetype');
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

html::-webkit-scrollbar {
    /* display: none !important */
}

body::-webkit-scrollbar {
    /* display: none !important */
}