@font-face {
    font-family: 'Dongle';
    src: local('Dongle'), url(./fonts/Dongle-Regular.ttf) format('truetype');
}

html {
    width: 32em;
    height: 600px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
}